.selection3-content-container {
    width: calc((865/1280)*100vw);
    height: calc((252/720)*100vh);
    display: flex;
    justify-content: center;
    align-items: center; /*수직중앙정렬*/

}

.selection3-inner-container {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.selection3-inner-container > .left-content-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.selection3-inner-container > .right-content-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}