.step-outer-container {
    background-color: white;
    /* background-color: #001F3F; */
    height: 100vh; /* 화면 전체 높이 */
    width: 100%; /* 화면 전체 너비 */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.step-container {
    /* background-color: #001F3F; */
    height: 100vh; /* 화면 전체 높이 */
    width: 100%; /* 화면 전체 너비 */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc((100/720)*100vh);
    /*justify-content: center;*/
}

.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /*수직 가운데 정렬*/
    /*position: absolute;*/
    /*top: calc((100/720) * 100vh);*/
    height: 38px;
    width: calc((960/1280)*100vw);
}

.selection-container {
    margin-top: calc((80/720)*100vh);
    /*position: absolute;*/
    /*top:calc((180/720)*100vh);*/
    display: flex;
    flex-direction: column;
}

/* 결과 나오는 곳 CSS */
.below-outer-container {
    width: calc((1080/1280)*100vw);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.below-container {
   width: 60%;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

.arrow-container {
    margin: calc((37/720)*100vh) 0px;

    display: flex;
    justify-content: center;
}

.carbon-result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
 
    font-size: max(18px,1.4vw);
    font-weight: 400;
    color:white;
}

.result-title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    width: calc((200/1280)*100vw);
}

.result-title-container :nth-child(1) {
    margin-right: 12px;
}

.result-text-container :nth-child(1){
    margin-right: 10px;
}

.prior-button-container {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom:calc((106/720)*100vh);
    left:calc((160/1280)*100vw);

}

.next-button-container {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom:calc((106/720)*100vh);
    right:calc((160/1280)*100vw);
}